<mat-nav-list >
    <div class="profile-card">
        <div class="header">
            <h2>Test User</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://cdn2.iconfinder.com/data/icons/facebook-51/32/FACEBOOK_LINE-01-512.png" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Settings</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->
    <mat-divider></mat-divider>

</mat-nav-list>
